@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}
.underline{
    height: 3px;
    width: 100px;
    background-color: #f7941d;
}
.btn:focus{
    outline: none!important;
    box-shadow: none!important;
}
.btn-primary{
    background-color: #fff!important;
    border: none;
}
.btn-primary:hover{
    background-color: #f7941d!important;
    color: #fff!important;
}

.product-item{
    border: 1px solid #ebebeb;
    border-radius: 4px;
    position: relative;
}
.product-img:hover::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}